<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="data">
    <select id="findLastDataIndex" resultType="Integer">
        select Id from DATA ORDER BY Id DESC LIMIT 1;
    </select>
    <insert id="insertData" parameterType="Data">
        insert into DATA(Id, HdfsFilePath, Title, EventDate, DataType, Location, DetailLocation, ManagerId)
        values (#{Id}, #{HdfsFilePath}, #{Title}, #{EventDate}, #{DataType}, #{Location}, #{DetailLocation}, #{ManagerId});
    </insert>
    <insert id="insertNormal" parameterType="Normal">
        insert into NORMAL_DATA(Description, DescriptionImage, Chart, DataId)
        values (#{Description}, #{DescriptionImage}, #{Chart}, #{DataId});
    </insert>
    <insert id="insertEarthQuake" parameterType="EarthQuake">
        insert into EARTHQUAKE_DATA(Latitude, Longtitude, Scale, MapImage, TimeSeries, AdditionalData, SensorInfo, DataId)
        values (#{Latitude}, #{Longtitude}, #{Scale}, #{MapImage}, #{TimeSeries}, #{AdditionalData}, #{SensorInfo}, #{DataId});
    </insert>
    <select id="findAllData" resultType="Data">
        select Id, DataType, Title, Location, EventDate, Views
        from DATA;
    </select>
</mapper>

